@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --highlight-bg: rgb(100 116 139);
  --Main-bg: rgb(226 232 240);
  --Ulli-bg: rgb(203 213 225);
  --Image-opacity: 1;
  --UlliText-color: rgb(71 85 105);
  --UlliText-hover-color: rgb(30 41 59);
  --border-colors-border-color: #64748b;
}

[data-theme="dark"] {
  --bg-color: #414141;
  --text-color: #f5f5f5;
  --highlight-bg: rgb(40, 40, 40);
  --Main-bg: rgb(52, 52, 49);
  --Ulli-bg: #414141;
  --Image-opacity: 0.3;
  --UlliText-color: rgb(203, 203, 203);
  --UlliText-hover-color: rgb(255, 255, 255);
  --border-colors-border-color: #d3d3d3;
}

.highlight {
  background-color: var(--highlight-bg);
  color: var(--highlight-text);
  padding: 0.25rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.border-colors {
  border-color: var(--border-colors-border-color);
  transition: 0.3s ease, color 0.3s ease;
}

.Bottom {
  background-color: var(--highlight-bg);
  color: var(--highlight-text);
  padding: 0.25rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Main {
  background-color: var(--Main-bg);
  color: var(--highlight-text);
  padding: 0.25rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Ulli {
  background-color: var(--Ulli-bg);
  color: var(--highlight-text);
  transition: background-color 0.3s ease, color 100ms;
}

.UlliText {
  color: var(--UlliText-color);
}

.UlliText:hover {
  color: var(--UlliText-hover-color);
}

.Body {
  margin: auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.Main {
  width: 1256px;
  margin: 0 auto;
}

.Image {
  animation: rotateImage 11s linear infinite;
  opacity: var(--Image-opacity);
  transition: opacity 0.3s ease;
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.long-text {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.expanded {
  opacity: 1;
  max-height: 20000px;
}

.long-text-two {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.expanded-two {
  opacity: 1;
  max-height: 3000px;
}

.Texts-Main {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.after-line {
  position: relative;
}
.after-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  transition: width 150ms ease, left 150ms ease;
}
.after-line:hover::after {
  width: 100%;
  left: 0;
}
